.container-list-task {
  display: flex;
  flex-direction: column;
}

.container-list-task a {
  margin: auto auto 15px;
}

.container-list-task .list-task,
.finish-list-task {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.container-list-task .list-task .task .container-buttons,
.finish-list-task .task .container-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.finish-list-task .task,
.container-list-task .list-task .task {
  width: 360px;
  margin-bottom: 15px;
}

.finish-list-task .task .container-buttons form button,
.container-list-task .list-task .task .container-buttons form button {
  margin: 5px;
}

.container-list-task .list-task a {
  margin: auto;
}

.container-list-task .link-finish-list,
.link-list-task {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .container-list-task .list-task,
  .finish-list-task {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .container-list-task .list-task .task,
  .finish-list-task .task {
    width: 100%;
    min-width: 340px;
  }
}

